<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Verificación - Codigo de Seguridad</title>
  </head>
  <body>
    <p>¡Hola!</p>
    <p>
      Te damos la bienvenida a Donde Estan? Para completar tu registro, necesitamos que verifiques tu cuenta ingresando el siguiente codigo de seguridad en la aplicación:
    </p>
    <p>{{code}}</p>
    <p>
      Una vez verificado el codigo deberas completar tu registro en la aplicación.
    </p>
    <p>Saludos.</p>
    <p>Equipo de soporte</p>
  </body>
</html>